<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:h2:./data/market_inspection</property>
    <property name="connection.driver_class">org.h2.Driver</property>

    <property name="hibernate.dialect">org.hibernate.dialect.H2Dialect</property>

    <!-- DB schema will be updated if needed -->
    <property name="hibernate.hbm2ddl.auto">update</property>

    <mapping resource="mapper/Expert.hbm.xml"/>
    <mapping class="com.fudan.market_inspection.entity.Expert"/>
    <mapping resource="mapper/Market.hbm.xml"/>
    <mapping class="com.fudan.market_inspection.entity.Market"/>
    <mapping resource="mapper/Product.hbm.xml"/>
    <mapping class="com.fudan.market_inspection.entity.Product"/>
  </session-factory>
</hibernate-configuration>